# folders
.git
.gitignore
.vs
.vscode
build
docker
packages
TdsGeneratedPackages
**/bin/
**/obj/
**/out/
xm1
xp0
xp1

# files
*Dockerfile
docker-compose*
**/*.md
*.ps1

# allow everything 
!resources/